[Unit]
Description=Weston Wayland Compositor on hdmi
RequiresMountsFor=/run
Requires=psplash-rhpro.service
After=psplash-rhpro.service

[Service]
User=root
Type=forking
ExecStartPre=/usr/sbin/wait-for-framebuffer
ExecStartPre=/usr/sbin/weston-wait-psplash
EnvironmentFile=/etc/default/weston-systemd
ExecStart=/usr/bin/weston-start -- $OPTARGS

[Install]
WantedBy=multi-user.target

